<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>

  <body>
  <form method='post' action='/landmarks'>
    <input name='landmark[name]' value='Landmark name' type='text' id='landmark_name'>
    <input type='text' value='year completed' name='landmark[year_completed]' id='landmark_year_completed'>
    <input type='submit' value='Create New Landmark'>
  </form>
  </body>

</html>